<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
    <title>map page</title>
    <style>
        /* Hide the overlay and form by default */
        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: 1000;
            align-items: center;
            justify-content: center;
        }

        .form-container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            width: 300px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        #map {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="flex">
        <div class="bg-gradient-to-b from-green-500 to-red-500 flex flex-col justify-around rounded-lg m-1">
            <div class="p-1 flex justify-center ">
                <img  class="h-36 p-3" src="../icons/20241108_230246.png" alt="Image with Masked Background">
            </div>

            <div class="font-bold text-white p-2 bg-gray-200 rounded-lg m-2">
                <div class="flex gap-2 items-center justify-start" >
                    <img class="h-8" src="../icons/marker-svgrepo-com (1).svg" alt="">
                    <p class="font-bold text-black">
                        Available spot
                    </p>
                </div>
                <div class="flex gap-2 items-center justify-start" >
                    <img class="h-8" src="../icons/marker-svgrepo-com.svg" alt="">
                    <p class="font-bold text-black">
                        Taken spot
                    </p>
                </div>
                <div class="flex gap-2 items-center justify-start" >
                    <img class="h-8" src="../icons/information-svgrepo-com.svg" alt="">
                    <p class="font-bold text-black">
                        Add a site by simply clicking on his location
                    </p>
                </div>
            </div>

            <button class="self-center flex items-center gap-3" onclick="history.back()">
                <img  class="h-8" src="../icons/back-square-svgrepo-com.svg" alt="">
                <p class="font-bold text-white">
                    Exit
                </p>
            </button>
        </div>
        <div class="h-screen" id="map"></div>
    </div>
    <div id="overlay" class="overlay" onclick="closeForm()">
        <div id="marker-form" class="form-container" onclick="event.stopPropagation()">
            <div class="flex flex-col justify-center gap-3">
                <div class="flex gap-1 items-center">
                    <img class="h-4" src="../icons/price-tag-svgrepo-com.svg" alt="">
                    <label class="font-semibold text-black">Quantity:</label>
                </div>
                <input class="bg-lightgreen w-64" type="number" id="quantity" />
                <div class="flex gap-1 items-center">
                    <img class="h-4" src="../icons/price-tag-svgrepo-com (1).svg" alt="">
                    <label class="font-semibold text-black">Price:</label>
                </div>
                <input class="bg-lightgreen w-64" type="number" id="price" />
                <div class="flex gap-1 items-center">
                    <img class="h-4" src="../icons/image-plus-svgrepo-com.svg" alt="">
                    <label class="font-semibold text-black">Image:</label>
                </div>
                <div class="file-upload-wrapper flex flex-col justify-center">
                    <input class="file-input" type="file" id="imageUrl" name="imageUrl" accept="image/*" onchange="previewImage(event)" />
                    <button class="upload-btn" onclick="document.getElementById('imageUrl').click()">Choose File</button>
                </div>
                <div class="image-preview-container">
                    <img id="imagePreview" class="image-preview" src="#" alt="Image Preview" style="display: none;" />
                </div>
                <div class="flex justify-around">
                    <button class="bg-green p-1 rounded-md text-white font-semibold hover:bg-lightgreen" onclick="saveMarker()">
                        <img class="h-8" src="../icons/check-square-svgrepo-com.svg" alt="">
                    </button>
                    <button class="bg-red p-1 rounded-md text-white font-semibold hover:bg-red-300" onclick="closeForm()">
                        <img class="h-8" src="../icons/cancel-svgrepo-com.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="../js/map.js"></script>
    <script type="module" src="../js/home.js"></script>
</body>
<script>
function previewImage(event) {
    const imagePreview = document.getElementById("imagePreview");
    const file = event.target.files[0];
    
    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            imagePreview.src = e.target.result;
            imagePreview.style.display = "block";
        };
        reader.readAsDataURL(file);
    } else {
        imagePreview.style.display = "none";
    }
}

</script>
</html>